.wrapper {
  width: 100%;
  height: 100%;
  margin: 8px 0;
}
.wrapper button {
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  color: white;
  background-color: black;
}
.item {
  background-color: aquamarine;
  padding: 8px;
  margin: 8px 0;
}

.item .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question span {
  height: 16px;
  width: 16px;
}

.item .answer {
  text-align: start;
}
